body {
  background-color: rgb(226, 226, 226);
}

#container {
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 60vh;
  font-family: poppins;
}
#wrapper {
  border: 2px white solid;
  border-radius: 15px;
  border-width: 5px;
  text-align: center;
  width: 120%;
  height: 90vh;
}
#sec1 {
  background-color: #583cd6;
  color: white;
  position: relative;
  bottom: 10px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
button {
  padding: 8px 15px;
  border-radius: 5px;
  border: none;
  position: relative;
  bottom: 20px;
}
h1 {
  font-size: 15px;
  padding: 0 10px;
  position: relative;
  top: 20px;
}
#para {
  border: 1px solid white;
  font-size: 40px;
  font-weight: bolder;
  width: 25%;
  position: relative;
  left: 116px;
  border-radius: 5px;
}
#length {
  background-color: white;
  height: 60px;
  text-align: center;
  width: 90%;
  padding-top: 20px;
  margin-left: 18px;
}
#volume {
  background-color: white;
  height: 60px;
  text-align: center;
  width: 90%;
  padding-top: 20px;
  margin-left: 18px;
}
#mass {
  background-color: white;
  height: 60px;
  text-align: center;
  width: 90%;
  padding-top: 20px;
  margin-left: 18px;
}
